.card {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    border: 2xp solid gray;
  }

/* Custom styles for SweetAlert2 */
.swal2-popup {
  background-color: #ffcc66; /* Change the background color */
  border: 2px solid #ff9900; /* Add a border with a custom color */
  border-radius: 10px; /* Add rounded corners */
  width: 400px; /* Adjust the width to make it bigger */
}

/* Style the title */
.swal2-title {
  color: #333; /* Change title text color */
}

/* Style the text */
.swal2-content {
  color: #555; /* Change text color */
}

